prj/LAB5_STUDENT_EXAMPLE
prj/nohup.out
prj/Pj5
prj/project_5
prj/project_new
prj/project_new.zip
prj/udp_project
prj/vivado.jou
prj/vivado.log
prj/vivado_pid13348.str
prj/ethernet_tuner
prj/project_new1.zip
prj/project_new_zybo
prj/project_new_zybo.zip
prj/test_app1
prj/tuner_ethernet
prj/zybo_dnm
